.DS_Store
.cache
.grunt
.idea
.npm
.nuxt
.serverless
.vscode
dist
logs
node_modules
vendor

go.sum
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
sw.*

*~
*/*.so
*/*.so.*
*.bak
*.exe
*.lock
*.log
*.log.*
*.pem
*.pid
*.pid.lock
*.seed
*.sublime-project
*.sublime-workspace
*.swp
*.tgz
*.tmp
*.txt
*.upx
